*{
box-sizing: border-box;
margin: 0 auto;
padding: 10px;

}

.container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.form{
    display: flex;
    flex-direction: column;
}

.profile-info{
    border: 1px solid black;
}

.update{
    border: 1px solid black;
}

.profile-form{
    display: flex;
    flex-direction: column;
}

.form-option{
    display: flex;
}